 main {
     display: grid;
     place-content: center;
     background: black;
    h3 {
        font-size: 1rem;
    }
     .card {
         aspect-ratio: 1 / 1.6;
        //  border: 0.5vmin solid var(--primary);
         cursor: pointer;
         position: relative;
         width: 56vmin;
         overflow: hidden;



         &:hover {
             &>.card-content {
                 &>.card-subtitle {
                     &>.card-subtitle-word {
                         opacity: 1;
                         transform: translateY(0%);
                         transition: opacity 0ms, transform 200ms cubic-bezier(0.9, 0.06, 0.15, 0.9);
                     }
                 }
             }
         }

         &:before {
             background: linear-gradient(130deg,
                     transparent 0% 33%,
                     var(--pink) 66%,
                     var(--primary) 83.5%,
                     var(--primary-dark) 100%);
             background-position: 0% 0%;
             background-size: 300% 300%;
             content: "";
             position: absolute;
             height: 100%;
             width: 100%;
             left: 0px;
             top: 0px;
             transition: background-position 350ms ease;
             z-index: 1;
         }

         &:hover:before {
             background-position: 100% 100%;
             transform: scale(1.08, 1.03);
         }

         .card-content {
             background: radial-gradient(rgba(255, 255, 255, 0.2) 8%,
                     transparent 8%);

             background-position: 0% 0%;
             background-size: 5vmin 5vmin;
             height: 100%;
             transition: background-position 350ms ease;
             width: 100%;
             z-index: 1000;
             &>* {
                 padding: 1rem;
             }

             &:hover {
                 background-position: -10% 0%;
             }

             .card-subtitle .card-subtitle-word {
                 font-size: 3rem;
                 color: pink;
                 display: inline-block;
                 margin: 0vmin 0.3vmin;
                 position: relative;
                 transform: translateY(40%);
                 transition: none;
                 opacity: 0;
             }
         }
     }
 }